<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,303}</string>
                <key>spriteSourceSize</key>
                <string>{800,303}</string>
                <key>textureRect</key>
                <string>{{0,0},{800,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52.png</string>
            <key>size</key>
            <string>{800,303}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93f4b29a154c552c56a4376e7a1f5b43:8ff5475d7a921c13d7aa38a35ea4d9a8:d4754f5bddd2644371b3582093613fe9$</string>
            <key>textureFileName</key>
            <string>B52.png</string>
        </dict>
    </dict>
</plist>
