<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ammo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1126},{158,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,192}}</string>
				<key>sourceSize</key>
				<string>{158,192}</string>
			</dict>

			<key>Ammo10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1763},{244,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,280}}</string>
				<key>sourceSize</key>
				<string>{244,280}</string>
			</dict>

			<key>Ammo11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1753},{254,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,289}}</string>
				<key>sourceSize</key>
				<string>{254,289}</string>
			</dict>

			<key>Ammo12.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1746},{264,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,298}}</string>
				<key>sourceSize</key>
				<string>{264,298}</string>
			</dict>

			<key>Ammo13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1444},{273,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,308}}</string>
				<key>sourceSize</key>
				<string>{273,308}</string>
			</dict>

			<key>Ammo14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1444},{282,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,318}}</string>
				<key>sourceSize</key>
				<string>{282,318}</string>
			</dict>

			<key>Ammo15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1116},{292,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,327}}</string>
				<key>sourceSize</key>
				<string>{292,327}</string>
			</dict>

			<key>Ammo16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,0},{301,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,336}}</string>
				<key>sourceSize</key>
				<string>{301,336}</string>
			</dict>

			<key>Ammo17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,385},{310,346}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{310,346}}</string>
				<key>sourceSize</key>
				<string>{310,346}</string>
			</dict>

			<key>Ammo18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,760},{320,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,355}}</string>
				<key>sourceSize</key>
				<string>{320,355}</string>
			</dict>

			<key>Ammo19.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,760},{330,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,365}}</string>
				<key>sourceSize</key>
				<string>{330,365}</string>
			</dict>

			<key>Ammo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1813},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>Ammo20.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,385},{338,374}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{338,374}}</string>
				<key>sourceSize</key>
				<string>{338,374}</string>
			</dict>

			<key>Ammo21.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,0},{348,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,384}}</string>
				<key>sourceSize</key>
				<string>{348,384}</string>
			</dict>

			<key>Ammo22.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1352},{358,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,393}}</string>
				<key>sourceSize</key>
				<string>{358,393}</string>
			</dict>

			<key>Ammo23.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,0},{367,402}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,402}}</string>
				<key>sourceSize</key>
				<string>{367,402}</string>
			</dict>

			<key>Ammo24.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,470},{376,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,412}}</string>
				<key>sourceSize</key>
				<string>{376,412}</string>
			</dict>

			<key>Ammo25.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,930},{386,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{386,421}}</string>
				<key>sourceSize</key>
				<string>{386,421}</string>
			</dict>

			<key>Ammo26.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1381},{395,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,431}}</string>
				<key>sourceSize</key>
				<string>{395,431}</string>
			</dict>

			<key>Ammo27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1381},{404,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,440}}</string>
				<key>sourceSize</key>
				<string>{404,440}</string>
			</dict>

			<key>Ammo28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{414,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{414,450}}</string>
				<key>sourceSize</key>
				<string>{414,450}</string>
			</dict>

			<key>Ammo29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,470},{424,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{424,459}}</string>
				<key>sourceSize</key>
				<string>{424,459}</string>
			</dict>

			<key>Ammo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1822},{178,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,212}}</string>
				<key>sourceSize</key>
				<string>{178,212}</string>
			</dict>

			<key>Ammo30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{433,469}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{433,469}}</string>
				<key>sourceSize</key>
				<string>{433,469}</string>
			</dict>

			<key>Ammo4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1822},{188,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,222}}</string>
				<key>sourceSize</key>
				<string>{188,222}</string>
			</dict>

			<key>Ammo5.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1813},{198,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,232}}</string>
				<key>sourceSize</key>
				<string>{198,232}</string>
			</dict>

			<key>Ammo6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,608},{207,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,242}}</string>
				<key>sourceSize</key>
				<string>{207,242}</string>
			</dict>

			<key>Ammo7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1116},{216,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,251}}</string>
				<key>sourceSize</key>
				<string>{216,251}</string>
			</dict>

			<key>Ammo8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,0},{226,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,260}}</string>
				<key>sourceSize</key>
				<string>{226,260}</string>
			</dict>

			<key>Ammo9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,337},{235,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,270}}</string>
				<key>sourceSize</key>
				<string>{235,270}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>Ammo.png</string>
			</dict>
		</dict>
</plist>