<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Health1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,1354},{158,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,104}}</string>
				<key>sourceSize</key>
				<string>{158,104}</string>
			</dict>

			<key>Health10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,488},{244,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,192}}</string>
				<key>sourceSize</key>
				<string>{244,192}</string>
			</dict>

			<key>Health11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,709},{254,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,200}}</string>
				<key>sourceSize</key>
				<string>{254,200}</string>
			</dict>

			<key>Health12.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,709},{263,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,210}}</string>
				<key>sourceSize</key>
				<string>{263,210}</string>
			</dict>

			<key>Health13.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,488},{273,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,220}}</string>
				<key>sourceSize</key>
				<string>{273,220}</string>
			</dict>

			<key>Health14.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,258},{282,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,229}}</string>
				<key>sourceSize</key>
				<string>{282,229}</string>
			</dict>

			<key>Health15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1808},{292,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,238}}</string>
				<key>sourceSize</key>
				<string>{292,238}</string>
			</dict>

			<key>Health16.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1798},{301,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,248}}</string>
				<key>sourceSize</key>
				<string>{301,248}</string>
			</dict>

			<key>Health17.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,0},{310,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{310,257}}</string>
				<key>sourceSize</key>
				<string>{310,257}</string>
			</dict>

			<key>Health18.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1631},{320,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,266}}</string>
				<key>sourceSize</key>
				<string>{320,266}</string>
			</dict>

			<key>Health19.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1354},{329,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,276}}</string>
				<key>sourceSize</key>
				<string>{329,276}</string>
			</dict>

			<key>Health2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1898},{168,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,114}}</string>
				<key>sourceSize</key>
				<string>{168,114}</string>
			</dict>

			<key>Health20.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1067},{338,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{338,286}}</string>
				<key>sourceSize</key>
				<string>{338,286}</string>
			</dict>

			<key>Health21.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,0},{348,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{348,294}}</string>
				<key>sourceSize</key>
				<string>{348,294}</string>
			</dict>

			<key>Health22.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,381},{358,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,304}}</string>
				<key>sourceSize</key>
				<string>{358,304}</string>
			</dict>

			<key>Health23.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,752},{367,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,314}}</string>
				<key>sourceSize</key>
				<string>{367,314}</string>
			</dict>

			<key>Health24.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1113},{376,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,323}}</string>
				<key>sourceSize</key>
				<string>{376,323}</string>
			</dict>

			<key>Health25.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1465},{386,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{386,332}}</string>
				<key>sourceSize</key>
				<string>{386,332}</string>
			</dict>

			<key>Health26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1465},{395,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,342}}</string>
				<key>sourceSize</key>
				<string>{395,342}</string>
			</dict>

			<key>Health27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1113},{404,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,351}}</string>
				<key>sourceSize</key>
				<string>{404,351}</string>
			</dict>

			<key>Health28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{414,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{414,360}}</string>
				<key>sourceSize</key>
				<string>{414,360}</string>
			</dict>

			<key>Health29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,381},{423,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{423,370}}</string>
				<key>sourceSize</key>
				<string>{423,370}</string>
			</dict>

			<key>Health3.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1898},{178,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,124}}</string>
				<key>sourceSize</key>
				<string>{178,124}</string>
			</dict>

			<key>Health30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{433,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{433,380}}</string>
				<key>sourceSize</key>
				<string>{433,380}</string>
			</dict>

			<key>Health4.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,920},{188,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,134}}</string>
				<key>sourceSize</key>
				<string>{188,134}</string>
			</dict>

			<key>Health5.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1898},{197,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,144}}</string>
				<key>sourceSize</key>
				<string>{197,144}</string>
			</dict>

			<key>Health6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,910},{206,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,154}}</string>
				<key>sourceSize</key>
				<string>{206,154}</string>
			</dict>

			<key>Health7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,1631},{216,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,162}}</string>
				<key>sourceSize</key>
				<string>{216,162}</string>
			</dict>

			<key>Health8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,0},{226,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,172}}</string>
				<key>sourceSize</key>
				<string>{226,172}</string>
			</dict>

			<key>Health9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,258},{235,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,182}}</string>
				<key>sourceSize</key>
				<string>{235,182}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>Health.png</string>
			</dict>
		</dict>
</plist>