<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk_bomer0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-116}</string>
                <key>spriteSize</key>
                <string>{132,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{159,241},{132,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_bomer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-110}</string>
                <key>spriteSize</key>
                <string>{154,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,385},{154,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_bomer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-109}</string>
                <key>spriteSize</key>
                <string>{156,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,241},{156,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_bomer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-115}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{153,529},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_bomer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{150,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,529},{150,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_bomer5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-111}</string>
                <key>spriteSize</key>
                <string>{158,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,97},{158,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{130,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{161,97},{130,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{291,799},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{171,815},{100,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,817},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{200,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{219,1},{200,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{216,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bomer0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-116}</string>
                <key>spriteSize</key>
                <string>{132,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{289,665},{132,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_bomer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-116}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{137,673},{134,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bomer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-116}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,673},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bomer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-117}</string>
                <key>spriteSize</key>
                <string>{136,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{293,91},{136,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bomer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-117}</string>
                <key>spriteSize</key>
                <string>{136,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{293,233},{136,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bomer5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-117}</string>
                <key>spriteSize</key>
                <string>{136,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{293,375},{136,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bomer6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-116}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{157,385},{134,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bomer7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-116}</string>
                <key>spriteSize</key>
                <string>{134,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{289,529},{134,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bommer-enemy.png</string>
            <key>size</key>
            <string>{430,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ebc2b71c52ac7ed9eb75340478ac80c:ea6a763898ba4709daeba28e3a2f87b5:c1f9b810047f5a1ffdbcbcfd4777cbb1$</string>
            <key>textureFileName</key>
            <string>bommer-enemy.png</string>
        </dict>
    </dict>
</plist>
