<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Canon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2440,933},{483,931}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,45},{483,931}}</string>
				<key>sourceSize</key>
				<string>{540,1024}</string>
			</dict>

			<key>Canon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,0},{485,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{485,932}}</string>
				<key>sourceSize</key>
				<string>{485,932}</string>
			</dict>

			<key>Canon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,933},{490,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{490,932}}</string>
				<key>sourceSize</key>
				<string>{490,932}</string>
			</dict>

			<key>Canon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{491,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{491,932}}</string>
				<key>sourceSize</key>
				<string>{491,932}</string>
			</dict>

			<key>Canon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,933},{485,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{485,932}}</string>
				<key>sourceSize</key>
				<string>{485,932}</string>
			</dict>

			<key>Canon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,0},{487,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{487,932}}</string>
				<key>sourceSize</key>
				<string>{487,932}</string>
			</dict>

			<key>Canon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,0},{485,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{485,932}}</string>
				<key>sourceSize</key>
				<string>{485,932}</string>
			</dict>

			<key>Canon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2924,932},{483,931}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{483,931}}</string>
				<key>sourceSize</key>
				<string>{483,931}</string>
			</dict>

			<key>Canon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2923,0},{483,931}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{483,931}}</string>
				<key>sourceSize</key>
				<string>{483,931}</string>
			</dict>

			<key>Canon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2439,0},{483,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{483,932}}</string>
				<key>sourceSize</key>
				<string>{483,932}</string>
			</dict>

			<key>Canon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3407,0},{482,931}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,37},{482,931}}</string>
				<key>sourceSize</key>
				<string>{540,1024}</string>
			</dict>

			<key>Canon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,933},{489,931}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{489,931}}</string>
				<key>sourceSize</key>
				<string>{489,931}</string>
			</dict>

			<key>Canon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,933},{486,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{486,932}}</string>
				<key>sourceSize</key>
				<string>{486,932}</string>
			</dict>

			<key>Canon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,0},{486,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{486,932}}</string>
				<key>sourceSize</key>
				<string>{486,932}</string>
			</dict>

			<key>Canon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,933},{485,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{485,932}}</string>
				<key>sourceSize</key>
				<string>{485,932}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>Canon.png</string>
			</dict>
		</dict>
</plist>