<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Riffle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-83}</string>
                <key>spriteSize</key>
                <string>{126,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{439,865},{126,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Riffle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-49}</string>
                <key>spriteSize</key>
                <string>{126,296}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{865,1},{126,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Riffle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-28}</string>
                <key>spriteSize</key>
                <string>{138,372}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{159,299},{138,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Riffle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{156,430}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Riffle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{156,430}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{433,1},{156,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Riffle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-27}</string>
                <key>spriteSize</key>
                <string>{138,372}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{377,159},{138,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Riffle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{156,428}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,299},{156,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Riffle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-30}</string>
                <key>spriteSize</key>
                <string>{138,374}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,159},{138,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Riffle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-83}</string>
                <key>spriteSize</key>
                <string>{126,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{481,655},{126,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{130,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{299,509},{130,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{751,159},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{751,267},{100,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{559,299},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{200,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{737,655},{200,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-112}</string>
                <key>spriteSize</key>
                <string>{216,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{129,729},{216,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_inv0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-83}</string>
                <key>spriteSize</key>
                <string>{126,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{649,865},{126,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_inv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-83}</string>
                <key>spriteSize</key>
                <string>{128,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{299,299},{128,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_inv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-84}</string>
                <key>spriteSize</key>
                <string>{128,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{429,299},{128,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_inv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-84}</string>
                <key>spriteSize</key>
                <string>{128,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{431,509},{128,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_inv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-84}</string>
                <key>spriteSize</key>
                <string>{130,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{853,299},{130,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_inv5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-84}</string>
                <key>spriteSize</key>
                <string>{128,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{641,395},{128,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_inv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-84}</string>
                <key>spriteSize</key>
                <string>{128,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{851,509},{128,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_inv7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-83}</string>
                <key>spriteSize</key>
                <string>{128,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{641,525},{128,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_inv0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-83}</string>
                <key>spriteSize</key>
                <string>{126,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{609,655},{126,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_inv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-78}</string>
                <key>spriteSize</key>
                <string>{126,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{857,719},{126,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_inv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-74}</string>
                <key>spriteSize</key>
                <string>{126,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{225,889},{126,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk_inv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-78}</string>
                <key>spriteSize</key>
                <string>{126,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,729},{126,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_inv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-77}</string>
                <key>spriteSize</key>
                <string>{126,210}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{353,653},{126,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_inv5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-75}</string>
                <key>spriteSize</key>
                <string>{126,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{225,673},{126,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>inv-enemy.png</string>
            <key>size</key>
            <string>{992,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:115c9179d28cd57d84fda6a36b537b25:514e3019911c4f43ce93883135e99bd9:3db28ba5d8ea5df06e3c7dec8ac14f63$</string>
            <key>textureFileName</key>
            <string>inv-enemy.png</string>
        </dict>
    </dict>
</plist>
