<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IdleKnife0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-109}</string>
                <key>spriteSize</key>
                <string>{162,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{173,1161},{162,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IdleKnife1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-108}</string>
                <key>spriteSize</key>
                <string>{164,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1077},{164,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IdleKnife2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-108}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{177,825},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IdleKnife3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-108}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,909},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IdleKnife4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-108}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,739},{168,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IdleKnife5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-108}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,909},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IdleKnife6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-108}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{177,825},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IdleKnife7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-108}</string>
                <key>spriteSize</key>
                <string>{164,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1077},{164,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Knife_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-109}</string>
                <key>spriteSize</key>
                <string>{162,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1243},{162,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Knife_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-102}</string>
                <key>spriteSize</key>
                <string>{194,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,209},{194,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Knife_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-93}</string>
                <key>spriteSize</key>
                <string>{224,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Knife_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-118}</string>
                <key>spriteSize</key>
                <string>{278,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{227,1},{278,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Knife_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-118}</string>
                <key>spriteSize</key>
                <string>{278,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{227,157},{278,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Knife_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-101}</string>
                <key>spriteSize</key>
                <string>{168,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{191,483},{168,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Knife_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-109}</string>
                <key>spriteSize</key>
                <string>{162,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1243},{162,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Knife_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-109}</string>
                <key>spriteSize</key>
                <string>{162,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1243},{162,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walkknife0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-109}</string>
                <key>spriteSize</key>
                <string>{162,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{345,1269},{162,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkknife1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-104}</string>
                <key>spriteSize</key>
                <string>{184,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,569},{184,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkknife2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-103}</string>
                <key>spriteSize</key>
                <string>{188,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,399},{188,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkknife3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-107}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{175,993},{166,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walkknife4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-104}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{187,653},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkknife5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-105}</string>
                <key>spriteSize</key>
                <string>{192,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{197,313},{192,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{144,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{351,977},{144,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-112}</string>
                <key>spriteSize</key>
                <string>{130,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{347,1143},{130,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{173,1325},{120,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-112}</string>
                <key>spriteSize</key>
                <string>{180,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{369,795},{180,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-111}</string>
                <key>spriteSize</key>
                <string>{234,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{379,559},{234,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{244,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{391,313},{244,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>melee-enemy.png</string>
            <key>size</key>
            <string>{508,1438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f5e7822dcd0f2e2819b97c592f56b8:44868337e1e9fdc80b851f7422d73593:d783e1581229f1e589fb11f08e5ea7cf$</string>
            <key>textureFileName</key>
            <string>melee-enemy.png</string>
        </dict>
    </dict>
</plist>
