<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shield0.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,469},{78,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,117},{78,36}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield1.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,283},{104,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,101},{104,52}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{139,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,10},{139,137}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,274},{139,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,10},{139,132}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield12.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,337},{139,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,10},{139,126}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield13.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,217},{139,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,10},{139,119}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield14.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,106},{139,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,10},{139,110}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,407},{139,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,10},{139,99}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield16.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,374},{136,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,10},{136,87}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield17.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,83},{128,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,10},{128,73}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield18.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,225},{114,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,10},{114,57}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield19.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,469},{91,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,10},{91,40}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield2.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,157},{122,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,86},{122,67}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield3.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{133,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,71},{133,82}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield4.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,374},{138,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,59},{138,94}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield5.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{139,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,48},{139,105}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield6.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,125},{139,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,38},{139,115}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield7.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,0},{139,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,29},{139,124}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield8.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,241},{139,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,21},{139,132}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>shield9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{139,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,15},{139,135}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>shield.png</string>
			</dict>
		</dict>
</plist>