<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gunshot0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-105}</string>
                <key>spriteSize</key>
                <string>{144,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{617,181},{144,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gunshot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-63}</string>
                <key>spriteSize</key>
                <string>{144,266}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gunshot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-80}</string>
                <key>spriteSize</key>
                <string>{160,250}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{147,1},{160,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gunshot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-116}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1033,353},{144,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gunshot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-105}</string>
                <key>spriteSize</key>
                <string>{144,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{757,1},{144,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkgun0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-105}</string>
                <key>spriteSize</key>
                <string>{144,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{763,179},{144,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkgun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-101}</string>
                <key>spriteSize</key>
                <string>{144,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{903,1},{144,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkgun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-101}</string>
                <key>spriteSize</key>
                <string>{144,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1049,1},{144,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkgun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-106}</string>
                <key>spriteSize</key>
                <string>{144,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1195,1},{144,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walkgun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-102}</string>
                <key>spriteSize</key>
                <string>{144,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{857,357},{144,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walkgun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-102}</string>
                <key>spriteSize</key>
                <string>{144,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{909,177},{144,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{144,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1055,175},{144,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-112}</string>
                <key>spriteSize</key>
                <string>{130,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1201,175},{130,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1201,301},{120,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-112}</string>
                <key>spriteSize</key>
                <string>{180,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{105,269},{180,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-111}</string>
                <key>spriteSize</key>
                <string>{234,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,269},{234,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{244,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{205,253},{244,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idlegun0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-105}</string>
                <key>spriteSize</key>
                <string>{144,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{679,359},{144,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idlegun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-105}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{319,361},{146,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idlegun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-105}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{469,181},{146,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idlegun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-105}</string>
                <key>spriteSize</key>
                <string>{148,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{309,1},{148,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idlegun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-106}</string>
                <key>spriteSize</key>
                <string>{148,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{319,181},{148,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idlegun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-105}</string>
                <key>spriteSize</key>
                <string>{148,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{459,1},{148,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idlegun6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-105}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{609,1},{146,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idlegun7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-105}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{499,361},{146,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sniper-enemy.png</string>
            <key>size</key>
            <string>{1340,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b025996cbc3ce528f99ecd042a96e97d:673bedfbecc230529c2631594e7b52c1:7da79c0afdf141bf40ea4d60287307f2$</string>
            <key>textureFileName</key>
            <string>sniper-enemy.png</string>
        </dict>
    </dict>
</plist>
