<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,165},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,329},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,493},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,657},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,821},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,985},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,124}</string>
                <key>spriteSourceSize</key>
                <string>{164,126}</string>
                <key>textureRect</key>
                <string>{{1,1149},{162,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_exhaust_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{71,1457},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_exhaust_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{1,1495},{58,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_exhaust_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{68,42}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{1,1451},{68,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_exhaust_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{68,44}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{81,1313},{68,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_exhaust_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{1,1401},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_exhaust_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{1,1353},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_exhaust_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{79,1383},{72,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_exhaust_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{78,38}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{1,1313},{78,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_shot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{87,1537},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_shot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-10}</string>
                <key>spriteSize</key>
                <string>{58,10}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{75,1495},{58,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_shot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{39,1495},{58,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_shot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,2}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{87,1495},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_shot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,8}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{1,1555},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_shot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,12}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{53,1555},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_shot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,18}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{41,1555},{20,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{126,1580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8827c9b1cd4539bcdc58ec42978a421f:c38c5155fb8243850648a47a209cae0b:61f327f8e64f826627a60724782c709f$</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
